doctype html 
html
    head
        link(rel='stylesheet', href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        title 'Natours'
    body 
        h1 Natours app
        p #{text}
        // p ello 